<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="wpfDagger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="wpfDagger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <wpfDagger.Properties.Settings>
            <setting name="DaggerfallUnityDefaultToolTipBackgroundColor"
                serializeAs="String">
                <value>#00000000</value>
            </setting>
            <setting name="DaggerfallUnityDefaultToolTipTextColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="CudaCompileOptions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>-arch=compute_61</string>
                        <string>-use_fast_math</string>
                        <string>-lineinfo</string>
                        <string>-default-device</string>
                        <string>-rdc=true</string>
                        <string>-D__x86_64</string>
                    </ArrayOfString>
                </value>
            </setting>
        </wpfDagger.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <wpfDagger.Properties.Settings>
            <setting name="Arena2Path" serializeAs="String">
                <value>B:\Bethesda.net Launcher\games\TES Daggerfall\DF\DAGGER\ARENA2</value>
            </setting>
        </wpfDagger.Properties.Settings>
    </applicationSettings>
</configuration>